
header{
    background-color: rgb(15, 15, 49);
    color: white;
    height: 100px;
    width: 100%;
}

#left {
    background-color: palegreen;
    color: rgb(11, 11, 44);
    height: 700px;
    width: 25%;
    
    text-align: center;

}

#left div ul {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    padding: 20px;
    font-size: large;
}

#main {
    height: 700px;
    width: 75%;
    background-color: transparent;
    margin-top: -700px;
    float: right;
}

header div h1 {
    float: left;
    text-align: center;
    width: 40%;
   
}
#partTwo{
    float: right;
    text-align: right;
    width: 10%;
    
}

#left div ul li {
    text-decoration: none;
    text-emphasis: none;
}


